h2 {
    color: rgb(182, 45, 45);
}
.center {
    text-align: center;
}
.center2 {
    margin: 0 auto;
}
.yoko {
    width: 98.5%;
    /* ディスプレイの横がこのPCで1340ぐらい？ */
    height: 100px;
}
.padding{
    padding: 10px;
}
.margin{
    margin: 10px;
}
.brown{
    background-color: burlywood
}
.red{
    color: red;
}
.left{
    float: left;
}
.right{
    float: right;
}
.kogecha{
    background-color: rgb(187, 78, 78);
}
header {
    height: 60px;
}
.flex{
    display: flex;
}
.shita{
    margin: 0px 0px 0px 215px;
}
.margin-top{
    margin: 20px 0px 0px 0px;
}